<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chien</title>
</head>
<body>

    <h1> Jeffrey Chien </h1>
    <h2> Jeffrey Chien aka ChazShot </h2>
   
    <p> Hello there! I'm a student currently in Information Technology majoring in Cyber Security at Macquarie University. </p>

    <p> I wish to one day become a well rounded Programmer. IT student during the day, furry artist and gamer at night. </p>

    
</body>
</html>
